In [1]:
import pandas as pd
import os
import glob
from factor_analyzer import FactorAnalyzer
from factor_analyzer.factor_analyzer import calculate_kmo
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import json

In [2]:
def call_all_csv(filename):
       df = pd.read_csv(filename)
       df = df.drop(['frame','timestamp', 'counter'], axis = 1)
       df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
       return df
tempat_dimana_file_berada = "/Users/mdaffarudiyanto/Downloads/data/Preprocessed"
filenames = glob.glob(os.path.join(tempat_dimana_file_berada, "*.csv"))
dataframes = [call_all_csv(df) for df in filenames]

df = pd.concat(dataframes)
df = df.dropna()
df.head()

,AU01_r,AU02_r,AU04_r,AU05_r,AU06_r,AU07_r,AU09_r,AU10_r,AU12_r,AU14_r,AU15_r,AU17_r,AU20_r,AU23_r,AU25_r,AU26_r,AU45_r,label
0,0.49,1.01,0.88,1.33,0.28,0.97,0.00,0.74,0.10,0.0,0.31,0.63,0.53,0.67,1.35,1.62,0.84,I need to take a break
1,0.38,0.78,0.80,1.25,0.29,0.85,0.21,0.73,0.00,0.0,0.00,0.65,0.65,0.88,0.98,2.04,0.72,I need to take a break
2,0.37,0.86,0.52,1.26,0.28,0.99,0.11,0.93,0.16,0.0,0.00,0.91,0.55,1.42,0.40,1.56,0.93,I need to take a break
3,0.51,0.95,0.52,0.74,0.19,0.98,0.12,0.64,0.11,0.0,0.00,0.65,0.92,1.26,0.25,1.04,0.87,I need to take a break
4,0.46,0.77,0.64,0.63,0.23,0.92,0.00,0.53,0.19,0.0,0.18,0.52,0.82,0.88,0.42,1.16,0.67,I need to take a break

In [3]:
df['factor_1'] = (df['AU01_r'] + df['AU02_r'] + df['AU05_r'])/15
df['factor_2'] = (df['AU04_r'] + df['AU07_r'] + df['AU10_r'] + df['AU25_r'] + df['AU26_r'])/25
df['factor_3'] = (df['AU06_r'] + df['AU12_r'] + df['AU14_r'] + df['AU45_r'])/20
df['factor_4'] = (df['AU09_r'] + df['AU20_r'])/10
df['factor_5'] = (df['AU15_r'] + df['AU17_r'] + df['AU23_r'])/15

df.head()

,AU01_r,AU02_r,AU04_r,AU05_r,AU06_r,AU07_r,AU09_r,AU10_r,AU12_r,AU14_r,...,AU23_r,AU25_r,AU26_r,AU45_r,label,factor_1,factor_2,factor_3,factor_4,factor_5
0,0.49,1.01,0.88,1.33,0.28,0.97,0.00,0.74,0.10,0.0,...,0.67,1.35,1.62,0.84,I need to take a break,0.188667,0.2224,0.0610,0.053,0.107333
1,0.38,0.78,0.80,1.25,0.29,0.85,0.21,0.73,0.00,0.0,...,0.88,0.98,2.04,0.72,I need to take a break,0.160667,0.2160,0.0505,0.086,0.102000
2,0.37,0.86,0.52,1.26,0.28,0.99,0.11,0.93,0.16,0.0,...,1.42,0.40,1.56,0.93,I need to take a break,0.166000,0.1760,0.0685,0.066,0.155333
3,0.51,0.95,0.52,0.74,0.19,0.98,0.12,0.64,0.11,0.0,...,1.26,0.25,1.04,0.87,I need to take a break,0.146667,0.1372,0.0585,0.104,0.127333
4,0.46,0.77,0.64,0.63,0.23,0.92,0.00,0.53,0.19,0.0,...,0.88,0.42,1.16,0.67,I need to take a break,0.124000,0.1468,0.0545,0.082,0.105333

In [4]:
df_filtered = df[['factor_1', 'factor_2', 'factor_3', 'factor_4', 'factor_5', 'label']]
df_filtered.head()

   factor_1  factor_2  factor_3  factor_4  factor_5                   label
0  0.188667    0.2224    0.0610     0.053  0.107333  I need to take a break
1  0.160667    0.2160    0.0505     0.086  0.102000  I need to take a break
2  0.166000    0.1760    0.0685     0.066  0.155333  I need to take a break
3  0.146667    0.1372    0.0585     0.104  0.127333  I need to take a break
4  0.124000    0.1468    0.0545     0.082  0.105333  I need to take a break

In [5]:
index = pd.Index(df_filtered['label'])
index.value_counts()

label
I don't need anything right now     2700
I need feedback on my progress      1500
I need an easier quesiton           1200
I need reminders to stay focused    1020
I need to take a break               900
Name: count, dtype: int64

In [5]:
# Normalize only the AU columns (assume they all end with "_r")
au_columns = [col for col in df.columns if col.endswith('_r')]

# Normalize the AU columns by dividing their values by 5
df[au_columns] = df[au_columns] / 5

df.head()

,AU01_r,AU02_r,AU04_r,AU05_r,AU06_r,AU07_r,AU09_r,AU10_r,AU12_r,AU14_r,AU15_r,AU17_r,AU20_r,AU23_r,AU25_r,AU26_r,AU45_r,label
0,0.0196,0.0404,0.0352,0.0532,0.0112,0.0388,0.0000,0.0296,0.0040,0.0,0.0124,0.0252,0.0212,0.0268,0.0540,0.0648,0.0336,I need to take a break
1,0.0152,0.0312,0.0320,0.0500,0.0116,0.0340,0.0084,0.0292,0.0000,0.0,0.0000,0.0260,0.0260,0.0352,0.0392,0.0816,0.0288,I need to take a break
2,0.0148,0.0344,0.0208,0.0504,0.0112,0.0396,0.0044,0.0372,0.0064,0.0,0.0000,0.0364,0.0220,0.0568,0.0160,0.0624,0.0372,I need to take a break
3,0.0204,0.0380,0.0208,0.0296,0.0076,0.0392,0.0048,0.0256,0.0044,0.0,0.0000,0.0260,0.0368,0.0504,0.0100,0.0416,0.0348,I need to take a break
4,0.0184,0.0308,0.0256,0.0252,0.0092,0.0368,0.0000,0.0212,0.0076,0.0,0.0072,0.0208,0.0328,0.0352,0.0168,0.0464,0.0268,I need to take a break

In [7]:
df.to_csv("Preprocessed/alldata_17.csv", index=False)